<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="tibo.jee.tpjee.entity.Patient"/>
        <mapping class="tibo.jee.tpjee.entity.Consultation"/>
    </session-factory>
</hibernate-configuration>